@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inter:wght@100;300&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(196,11,78);
    background: linear-gradient(90deg, rgba(196,11,78,1) 6%, rgba(9,9,121,1) 39%, rgba(5,175,25,1) 58%, rgba(191,202,1,1) 73%, rgba(0,212,255,1) 100%);
}

h1{
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 77px;
}
h2{
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 55px;
    color: white;
}
.header{
    background-color: #FF3DFE;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;

}
.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}
.card{
    width: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.green{
 background-color: #24FF00;
}
.yellow{
background-color: #FFED00;
}
.white{
 background-color: #ffffff;
}
.card img{
    width: 100%;
    object-fit: cover;
}
.description{
    height: 92px;
    padding: 32px 24px;
}
.description h3{
    font-family: 'Press Start 2P';
}
a{
    text-decoration: none;
    color: black;
}
.footer{
    height: 142px;
    background-color: #121723;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center

}

/* page1 */
.wrapper_page1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main_page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100vw;
    padding: 0px 150px 0px 150px;
}
.card_page1{
    display: flex;
    background-color: #24FF00;
    width: 100%;
    padding: 48px;
    gap: 32px;
    margin: 32px 0;
    /* height: 100px; */
    flex-direction: column;
    align-items: center;
}
.card_page1_img{

}
.card_page1_img>img{
    width: 100%;
    object-fit: cover;
}
.desc_card1{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.h1_card1{
    font-family: 'Press Start 2P';
    font-size: 40px;
    width: 100%;
}
.h2_card1{
    font-family: 'Inter';
    font-size: 32px;
    width: 100%;
    color: black;
}
.desc_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    gap: 24px;
}
.desc_p_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.desc_p_list>p{
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 300;
}
.desc_right{
    width: 50%;
}
.desc_right>p{
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 300;
}